@model IndexGuestModel
<div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 indexcss">
            <h1>BeatDrop</h1>
            <h3>All events in one place.</h3>

            <hr />
        </div>
    </div>


    <div class="row ">
        <div class="col-md-1">

        </div>
        <div class="col-md-4 descriptionFront">
            <h4>Editor's top pick:</h4>
            <hr />
            <table class="table-condensed ">
                <tbody>
                    @foreach (var Pick in Model.EditorEvents)
                    {
                        <tr>
                            <td>
                                <h4><a asp-action="EventInfo" asp-route-id="@Pick.EventId" asp-route-UserId="@Pick.UserId" class="bigger">@Pick.EventName</a></h4>
                            
                            </td>
                            <td style="padding-left:40px">
                                @Pick.NumberOfAttenders going
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4 descriptionFront">
            <h4><i class="fa fa-bomb" style="color:black"></i> Trending events:</h4>
            <hr />
            <table class="table-condensed">
                <tbody>

                    @foreach (var Club in Model.Top5TrendingEvents)
                    {
                        <tr>
                            <td>
                                <h4><a asp-action="EventInfo" asp-route-id="@Club.Id" asp-route-UserId="@Club.UserId" class="bigger">@Club.EventName</a></h4>
                            </td>
                            <td style="padding-left:40px">
                                @Club.NumberOfAttenders Going
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>